body {
  height: 500vh;
  margin: 0;
  background-color: hsl(249, 89%, 19%);
  display: grid;
  place-items: center;
}

.svg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

svg {
  display: inline-block;
  height: 100%;
  stroke: white;
  stroke-width: 2;
}

@media screen and (min-width: 768px) {
  .svg-container {
    top: -30vh;
    height: 150%;
  }
}

@media screen and (min-width: 1200px) {
  .svg-container {
    top: -35vh;
    height: 165%;
  }
}

/* section {
  height: 100vh;
  display: grid;
  place-content: center;
  font-family: roboto;
  font-size: 4em;
}

.one {
  background: url(assets/mateusz-klein-a1BlhTu0lMI-unsplash.jpg);
  background-size: cover;
}

.two {
  background: url(assets/mateusz-klein-a1BlhTu0lMI-unsplash.jpg);
  background-size: cover;
}
 */
